.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
}
    
.home-icon {
  color: white;
}
 
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus,.navbar-default .navbar-header a{
  color:white;
}

.navbar-default .navbar-nav li a:hover ,  .navbar-default .navbar-header a:hover{
  background-color: #00BFFF;
}

#head{
  color: white;
}


.input{
width: 50%;
}

.loginresponse{
  text-align: center;
  color: red;
}

.homehead, .registerhead , .loginhead, .profilepagehead, .profilepagedesc, .uploadphoto, .head, .wrapper, .profilepic{
  text-align: center;
}
#File2{
  text-align: center;
  position: relative;
  left: 50px;
  margin: auto;
}
.textcolor{
  color: red;
}

#logoutbtn{
  top: 8px;
  left:   10px;
  position: relative;
}

#addbtn{
  
  left:   50px;
  position: relative;
}


.camera, .uploadbtn, .imagestatus{
  position: relative;
  top: 15px;
}

.posts{
   position: relative;
  top: 25px;
}
.username{
  color: blue;
}

.showimage{
  padding:16px; 
  border:1px solid #f1f1f1; 
  margin:16px;
}