<!DOCTYPE html>

<!-- defines and links an AngularJS application to HTML -->
<html ng-app="fbangular">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="https://cdn.rawgit.com/jonsamwell/angular-auto-validate/master/dist/jcs-auto-validate.js"></script>
 

  <script src="js/app.js"></script>
   <script src="js/controllers/main.controller.js"></script>
   <script src="js/controllers/register.controller.js"></script>
   <script src="js/controllers/login.controller.js"></script>
   <script src="js/controllers/homepage.controller.js"></script>
   <script src="js/controllers/profilepage.controller.js"></script>
   <script src="js/controllers/friendpage.controller.js"></script>
   <script src="js/controllers/confirmpage.controller.js"></script>
   <link rel="stylesheet" href="css/stylesheet.css">
    
</head>

<!-- define angular controller -->
<body ng-controller="mainController">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
      <a id="head" class="navbar-brand" href="#"><i class="fa fa-home"></i> Home</a>
  </div>
    <ul class="nav navbar-nav">
     <li ng-show="registerobj.showregister"><a href="#/register">Register</a></li>
     <li ng-show="loginobj.showlogin"><a href="#/login">Login</a></li>
     <li ng-show="homeobj.showhome"><a href="#/timeline">Activity</a></li>
     <li ng-show="profileobj.showprofile" ><a href="#/profilepage">My Profile</a></li>
    <!--  <li ng-show="logoutobj.showlogout"><input id="logoutbtn" type="submit"  ng-click="logout()" class="btn btn-danger" value="Logout"  ></li> -->
    <li ng-show="logoutobj.showlogout"><a href="#"   ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
    </li>
    
    </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
     <li ng-show="notifyobj.shownotifications"><a  data-toggle="modal" data-target="#shownotification"><span class="glyphicon glyphicon-cd notification"></span></a>
    
      </ul>
  </div>
</nav> 

		<!-- this is where view will get injected -->
 
    <!-- <div ng-view ></div> -->
<!-- -->
<!-- Modal -->
<!--   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
    data-toggle="modal" data-target="#myModal"
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> -->
  


<!-- -->
<ng-view></ng-view>
<!-- <div class="ng-view" ></div> -->

  
</body>

</html>
