<div class="container">

 <div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-5">
  </div>  
  <div class="col-md-2 col-lg-2"> 
   <div ng-repeat="pic in profilepics">  
    <img class="profilepicture" ng-if="id==pic.uid && pic.pic_type=='PRIMARY'" ng-src="uploads/{{pic.name}}" width="150" height="150"/>
   </div>
    <h3 class="activityname" >{{name}}</h3>
  </div>
</div>
<!-- POSTS-->
  <div class="row yourfriendsposts">
    <div class="col-md-3 left">
    </div>
    <div class="col-md-6 center" >
        <h3 class="head">Posts</h3>
         <!--  <div ng-repeat="like in getlikes"> -->
        <div ng-repeat="post in likefilter">
            <div ng-repeat="x in farray">
                <!--  <p ng-if="post.uid==x">{{post.pid}}</p> -->
                <div ng-if="post.uid==x" class="post">
                <h4>{{ post.name }} </h4>

                  <p>{{ post.post }}</p>
                 <!--  class="btn btn-info btn-sm" -->
            <!--    ng-class="(post.pid==like.pid)?'btn btn-success btn-sm':'btn btn-warning btn-sm'" -->
               
        <a  class="btn btn-info btn-sm"
                   ng-click="like(post)">
                   <i class="glyphicon glyphicon-thumbs-up"></i> 
                   <!--  <i ng-class="(post.pid==like.pid)?'liked':'unliked'" class="glyphicon glyphicon-thumbs-up"></i> -->
                     <span ng-if="post.like=='yes'">Liked </span>
                     <span ng-if="post.like=='no'">Like </span>
                 </a>
                 <span ng-if="post.like=='yes'">You and</span>
                 <span ng-if="post.like=='no'">{{post.count}}</span>
                 <span ng-if="post.like=='yes'">{{post.count - 1}} others</span>
               </div>
                
               <!--  </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-3 right">
    </div>
</div>
<!-- POSTS END -->
<!--Add friends -->
  <div class="row Addfriends">
   <div class="col-md-12"> 
    <h3 class="head"> Add friends</h3>
     <div ng-repeat="user in allusers">
      <div ng-repeat="friend in showfriendsarray">
       <h4 class="username" ng-if="user.id==friend">{{user.name}}
        <span> <input  id="addbtn" type="button" class="btn btn-primary" ng-click="addfriend(user)" value="Add friend"  /></span>
       </h4>
      </div>
     </div>
   </div>
  </div>
<!--Add friends end -->
<!--friends profile pictures -->
<div class="row ">
  <div class="col-md-12"> 
   <h3 class="head">Profile pictures</h3>
   <div ng-repeat="user in allusers">
    <div  ng-repeat="frnd in farray">
     <div  ng-repeat="pic in profilepics">
     <!--  <div class="col-lg-4"  ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY'"> -->
        <h4 class="username" ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY' && user.id==pic.uid">{{ user.name }}</h4>
       <img class="showimage " ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY' && user.id==pic.uid" ng-src="uploads/{{pic.name}}" width="500" height="300" /> 
     <!--  </div> -->
     </div>
    </div>
   </div>
  </div>
</div>
<!-- -->

<!-- Your friend photos -->
<div class="row ShowFriendsImages ">
 <div class="col-md-12"> 
  <h3 class="head">Uploads</h3>
  <div ng-repeat="user in allusers">
   <div ng-repeat="x in farray">
    <div ng-repeat="image in images">  
     <h4 class="username" ng-if="image.uid==x && user.id==x">{{ user.name }}</h4>
     <img class="showimage " ng-if="image.uid==x && user.id==x" ng-src="images/{{image.name}}" width="500" height="300" />  
    </div>
   </div>
  </div>
 </div>
</div>
<!-- your friend photos end -->

<!--Your friends posts -->
<!--   <div class="row yourfriendsposts">
   <div class="col-md-12" > 
    <h3 class="head">Posts</h3>
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>Post Id</th>
        <th>Friend name</th>
        <th>Post</th>
       </tr>
      </thead>
   
      <tbody ng-repeat="post in allposts">
       <tr ng-repeat="x in farray">
        <td ng-if="post.uid==x">{{post.pid}}</td>
        <td ng-if="post.uid==x">{{ post.name }}</td>
        <td ng-if="post.uid==x">{{ post.post }}</td>
       </tr>
      </tbody>
     </table>
   </div>
 </div> -->
  <!--your friend posts end -->

</div>
