<div class="container">
  <div class="modal fade" id="shownotification" role="dialog">
    <div class="modal-dialog">
    
   
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notifications</h4>
        </div>
        <div class="modal-body">
         <div ng-repeat="user in allusers" ng-if="pendingrequestslength>0">
            <div ng-repeat="n in pendingrequests">
            <div ng-if="user.id==n.uid">
              {{user.name}}  sent friend request
            </div> 
            </div>
          </div>
          <div ng-repeat="user in allusers" ng-if="notificationlength>0">
            <div ng-repeat="x in getnotification">
            <div ng-if="user.id==x.fid">
              {{user.name}}  accepted your friend request
            </div> 
            </div>
          </div>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div> 
  <!-- <div class="notificaitons" ng-show="notify">
    <h1>hi</h1>
  </div> -->
 <div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-5">
  </div>  
  <div class="col-md-2 col-lg-2"> 
   <div ng-repeat="pic in profilepics">  
    <img class="profilepicture" ng-if="id==pic.uid && pic.pic_type=='PRIMARY'" ng-src="uploads/{{pic.name}}" width="150" height="150"/>
   </div>
    <h3 class="activityname" >{{name}}</h3>
  </div>
</div>
<!--Friend requests -->
<!-- <div class="row" ng-if="pendingrequestslength>0">
  <div class="col-md-3">
    </div>
 <div class="col-md-6">
 
  <h3 class="head">Friend Requests</h3>
  <div ng-repeat="user in allusers">
    <div ng-repeat="person in pendingrequests">
      <h4 class="username" ng-if="user.id==person.uid">{{user.name}}  
       <span> <input  id="addbtn" type="button" class="btn btn-primary" ng-click="accept(user)" value="Accept"  /></span>
       <span> <input  id="addbtn" type="button" class="btn btn-primary" ng-click="reject(user)" value="Reject"  /></span>
       </h4>
    </div>
  </div>

    </div> 
    <div class="col-md-3 ">
    </div>
</div> -->
<!--end-->
<!-- POSTS-->
  <div class="row yourfriendsposts">
    <div class="col-md-3 left">
    </div>
    <div class="col-md-6 center" >
        <h3 class="head">Posts</h3>
         <div ng-repeat="post in likefilter">
           <div ng-repeat="x in farray">
             <div ng-if="post.uid==x" class="post">
                <h4>{{ post.name }}</h4>

                  <p>{{ post.post }}</p>
           
                  <div>
                  <span class="like-btn"> 
          
                    <span  ng-if="post.type=='no'"><i class="like-btn-emo like-btn-like"></i>Like</span> 
                    <span  ng-if="post.type=='like'"><i class="like-btn-emo like-btn-like"></i>Liked</span>
                    <span  ng-if="post.type=='love'"><i class="like-btn-emo like-btn-love"></i>Love</span>
                    <span  ng-if="post.type=='haha'"><i class="like-btn-emo like-btn-haha"></i>Haha</span>
                    <span  ng-if="post.type=='wow'"><i class="like-btn-emo like-btn-wow"></i>Wow</span>
                    <span  ng-if="post.type=='sad'"><i class="like-btn-emo like-btn-sad"></i>Sad</span>
                    <span  ng-if="post.type=='angry'"><i class="like-btn-emo like-btn-angry"></i>Angry</span>
                   <ul class="reactions-box"> 
                   <li class="reaction reaction-like" id="like" ng-click="like(post,$event)"></li>
                   <li class="reaction reaction-love" id="love" ng-click="like(post,$event)"></li>
                   <li class="reaction reaction-haha" id="haha" ng-click="like(post,$event)"></li>
                   <li class="reaction reaction-wow" id="wow" ng-click="like(post,$event)"></li>
                   <li class="reaction reaction-sad" id="sad" ng-click="like(post,$event)"></li>
                   <li class="reaction reaction-angry" id="angry" ng-click="like(post,$event)"></li>
                   </ul>
                  </span>
       
                   <span ng-if="post.type=='like' || post.type=='love' || 
                                post.type=='haha' || post.type=='wow' || 
                                post.type=='sad'  || post.type=='angry'">You and</span>
                   <span ng-if="post.type=='no' && post.count>0">{{post.count}}</span>
                   <span ng-if="post.type=='like' || post.type=='love' || 
                                post.type=='haha' || post.type=='wow' || 
                                 post.type=='sad' || post.type=='angry'">{{post.count - 1}} others</span> 
      
                  </div>
             </div>
                
             
          </div>
       </div>
    </div>
    <div class="col-md-3 right">
    </div>
</div>
<!-- POSTS END -->
<!--Add friends -->
  <div class="row Addfriends">
   <div class="col-md-12"> 
    <h3 class="head"> Add friends</h3>
     <div ng-repeat="user in allusers">
      <div ng-repeat="friend in showfriendsarray">
       <h4 class="username" ng-if="user.id==friend">{{user.name}}
        <span> <input  id="addbtn" type="button" class="btn btn-primary" ng-click="addfriend(user)" value="Add friend"  /></span>
       </h4>
      </div>
     </div>
   </div>
  </div>
<!--Add friends end -->
<!--friends profile pictures -->
<div class="row ">
  <div class="col-md-12"> 
   <h3 class="head">Profile pictures</h3>
   <div ng-repeat="user in allusers">
    <div  ng-repeat="frnd in farray">
     <div  ng-repeat="pic in profilepics">
     <!--  <div class="col-lg-4"  ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY'"> -->
        <h4 class="username" ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY' && user.id==pic.uid">{{ user.name }}</h4>
       <img class="showimage " ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY' && user.id==pic.uid" ng-src="uploads/{{pic.name}}" width="500"  /> 
     <!--  </div> -->
     </div>
    </div>
   </div>
  </div>
</div>
<!-- -->

<!-- Your friend photos -->
<div class="row ShowFriendsImages ">
 <div class="col-md-12"> 
  <h3 class="head">Uploads</h3>
  <div ng-repeat="user in allusers">
   <div ng-repeat="x in farray">
    <div ng-repeat="image in images">  
     <h4 class="username" ng-if="image.uid==x && user.id==x">{{ user.name }}</h4>
     <img class="showimage " ng-if="image.uid==x && user.id==x" ng-src="images/{{image.name}}" width="500"  />  
    </div>
   </div>
  </div>
 </div>
</div>
<!-- your friend photos end -->



</div>
