<div class="container">
  <div>
  <h1  class="loginhead">Login</h1>      
  </div>
      
 <form ng-submit="submit(form)"  name="myForm" novalidate>
  <div class="form-group">
   <label for="name">Email:</label>
    <input type="email" class="form-control" name="email" ng-model="form.email" required >
    <span class="textcolor" ng-show="(myForm.email.$dirty && myForm.email.$invalid)||(myForm.email.$pristine && submitted)" >
       <span ng-show="myForm.email.$error.required">Email is required.</span>
     </span>
  </div>
   
 <div class="form-group">
   <label for="password">Password:</label>
    <input type="password"  class="form-control" name="password" ng-model="form.password" required>
     <span class="textcolor" ng-show="(myForm.password.$dirty && myForm.password.$invalid)||(myForm.password.$pristine && submitted)">
       <span ng-show="myForm.password.$error.required">Password is required.</span>
       
     </span>
  </div>

   <div>
   <input type="submit"  class="btn btn-primary" value="Submit"
   ng-disabled="myForm.email.$dirty && myForm.email.$invalid ||  
                myForm.password.$dirty && myForm.password.$invalid">
      
  </div> 
  </form>
  
    <div class="loginresponse" ng-if="res.status != 'OK'">{{res}}</div>

 
