<div class="cointainer-fluid">
  <!-- SHow coverpic-->
 <div class="row">
  <div class="col-md-12"> 
    <input type="file"  id="File3" file-input="files" data-ng-click="send_id($event)" /> 
    <label for="File3" class="coverimage"><span class="glyphicon glyphicon-camera coversize"></span></label>
   <div ng-repeat="pic in profilepics">  
    <img class="showcoverimage" ng-if="id==pic.uid && pic.pic_type=='COVER'" ng-src="uploads/{{pic.name}}"  />  
   </div>
   <img ng-show="showcover" class="showcoverimage" ng-if="id!=pic.uid && pic.pic_type!='COVER'" ng-src="images/coverphoto.jpg"  />
  </div>
 </div>

  <!--end -->

 <!--show profilepic -->

 <div class="row secondrow">
  <div class="col-md-2 col-lg-2">
 <!--   <div class="kranthi">  -->
   <div ng-repeat="pic in profilepics">  
    <img class="profilepicture" ng-if="id==pic.uid && pic.pic_type=='PRIMARY'" ng-src="uploads/{{pic.name}}" width="150" height="150" usemap="#clickpic"/>  
   </div>
    <div>
   <img class="profilepicture" ng-show="showprofilepic" ng-src="images/person.PNG" width="150" height="150" usemap="#clickpic"/> 
   </div>
   <input type="file"  id="File2" file-input="files" data-ng-click="send_id($event)" /> 
   <label for="File2" class="profileimage"><span class="glyphicon glyphicon-camera profilesize"></span>
    <!--  <span class="glyphicon glyphicon-camera test"> <b>Upload</b></span> -->
    <map name="clickpic">
     <area shape="circle" coords="100,100,100">
    </map>
   </label>
<!--  </div> -->
  </div>

  <div class="col-md-8 col-lg-8" ng-show="showsecondrow">  
   <form ng-submit="postsubmit(form)" name="postform" novalidate>
    <div class="form-group">
      <label for="comment">Post <span class="glyphicon glyphicon-edit"></span></label>
      <textarea class="form-control" rows="3" id="comment" ng-model="form.post"></textarea>
    </div>
    <div>
      <input type="file" id="File1" file-input="files" data-ng-click="send_id($event)" /> 
   <label for="File1" class="photo"><span class="glyphicon glyphicon-camera photosize"></span></label>
  <!--  <span class="imagestatus">{{imagestatus}}</span> -->
     <input type="submit" id="postsubmit" class="btn btn-primary" value="Post">
    </div> 
  </form>
 </div>
  <div class="col-md-8 col-lg-8" ng-show="heading" id="showheading">
   <h1 class="head" ng-if="param=='1'"><span class="glyphicon glyphicon-user"></span> About</h1> 
   <h1 class="head" ng-if="param=='2'"><span class="glyphicon glyphicon-pencil"></span> POSTS</h1>
   <h1 class="head" ng-if="param=='3'"><span class="glyphicon glyphicon-camera"></span> PHOTOS</h1>  
  </div>

 <div class="row ">
  <div class="col-md-2 col-lg-2"> 
   <h3 >Friends</h3>
   <div class="row">
    <div class="displayprofileimages" ng-repeat="frnd in farray">
     <div class="displayprofileimages" ng-repeat="pic in profilepics">
      <div class="col-lg-4"  ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY'">
       <img id="test" ng-click="fetch(pic)" ng-if="frnd==pic.uid && pic.pic_type=='PRIMARY'" ng-src="uploads/{{pic.name}}" width="40" height="40" /> 
      </div>
     </div>
    </div>
   </div>
  </div>
</div>

 </div>
 <!--end-->
 <div class="row thirdrow">
  <div class="col-md-2">
   <a class="anchor" ng-click="aboutme()">About Me</a>
   <a class="anchor" ng-click="showposts()">My Posts</a>
   <a class="anchor" ng-click="showimages()">My Images</a>
  </div>
  <div class="col-md-8 col-lg-8" ng-show="showdetails">
   <h3 class="profilepagedesc">Name:-{{name}} <br>
                            Email:-{{email}} <br>
                        Education:-{{education}}
   </h3>
  </div>

  <div class="col-md-8" ng-show="showuserpoststop"> 
     <table class="table table-bordered">
      <thead>
       <tr>
       <!--  <th>Post Id</th> -->
        <th>Post</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="userpost in posts ">
     <!--    <td>{{userpost.pid}}</td> -->
        <td>{{ userpost.post }}</td>
       </tr>
      </tbody>
     </table>
   </div>

  <div class="col-md-8" ng-show="showuserphotostop"> 
   <div class="displayimages" ng-repeat="image in images">
    <img class="showimage" ng-if="id==image.uid" ng-src="images/{{image.name}}" width="100" height="100" />  
   </div>
  </div>
</div>


            

  

<!--Your Posts -->
  <div class="row" ng-show="showusersposts">
    <div class="col-md-2" >
    </div>
   <div class="col-md-8" > 
    <h3 class="head"> Your previous posts</h3>
     <table class="table table-bordered">
      <thead>
       <tr>
      <!--   <th>Post Id</th> -->
        <th>Post</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="userpost in posts ">
        <!-- <td>{{userpost.pid}}</td> -->
        <td>{{ userpost.post }}</td>
       </tr>
      </tbody>
     </table>
   </div>
   <div class="col-md-2" >
   </div>
  </div>
<!--your posts end -->


 <div class="row " ng-show="showuserphotos">
  <div class="col-md-2" >
  </div>
  <div class="col-md-8"> 
   <h3 class="head">Picture Uploads</h3>
    <div class="displayimages" ng-repeat="image in images">
     <img class="showimage" ng-if="id==image.uid" ng-src="images/{{image.name}}" width="100" height="100" />  
    </div>
  </div>
  <div class="col-md-2" >
  </div>
 </div>



</div><!--cointainer end -->