
<!-- <div class="jumbotron">
 <h1 class="profilepagehead">Welcome {{name}}</h1>      
</div> -->

<div class="container">

 <!--show profilepic -->

 <div class="row profilepic">
  <div class="col-md-12"> 
   <div ng-repeat="pic in profilepics">  
    <img class="showimage" ng-if="showpic==pic.picid" ng-src="uploads/{{pic.name}}" width="200" height="200" />  
   </div>
   <p><b>Profilepicture</b> <span class="glyphicon glyphicon-camera"></span></p>
   <center><input type="file"  id="File2" file-input="files" > </center>
   <input type="submit"  class="btn btn-primary uploadbtn" value="Upload" ng-click="uploadprofilepicture()">
  </div>
 </div>
 <!--end-->
  <h3 class="profilepagedesc">Name:-{{name}} <br>
                            Email:-{{email}} <br>
                        Education:-{{education}}
 </h3>

<!-- post a status-->
<div class="row">
 <div class="col-md-12" >  
  <form ng-submit="postsubmit(form)" name="postform" novalidate>
    <div class="form-group">
      <label for="comment">Post <span class="glyphicon glyphicon-edit"></span></label>
      <textarea class="form-control" rows="3" id="comment" ng-model="form.post"></textarea>
    </div>
    <div>
     <input type="submit"  class="btn btn-primary" value="Post">
    </div> 
  </form>
 </div>
</div>
  <!--Education -->

  <!--upload a image-->

<div class="row camera">
  <div class="col-md-12" >  
   <p><b>Post</b> <span class="glyphicon glyphicon-camera"></span></p>
   <input type="file" id="File1" file-input="files" /> 
   <input type="submit"  class="btn btn-primary uploadbtn" value="Upload" ng-click="uploadFile()">
   <span class="imagestatus">{{imagestatus}}</span>
  </div>  

</div>

             <!--    </div> -->

  <!-- image upload end-->

<!--   <div class="wrapper">
  	<h3>Education Details</h3>

  </div> -->
<!-- <form  ng-submit="submit(form)" ng-show="kran" name="myForm" novalidate>
	<div class="wrapper">
  	<h3>Education Details</h3>
  </div>
   <div class="form-group">
    <label for="name">Username:</label>
     <input type="text" class="form-control" name="user" ng-model="form.user" required >
   </div>
   
   <div class="form-group">
    <label for="school">School:</label>
     <input type="text"  class="form-control" name="school" ng-model="form.school" required>
   </div>

   <div class="form-group">
    <label for="college">College:</label>
     <input type="text"  class="form-control" name="college" ng-model="form.college" required>
   </div>

   <div class="form-group">
    <label for="address">Address:</label>
     <input type="text"  class="form-control" name="address" ng-model="form.address" required>
   </div>
   
   <div class="form-group">
    <label for="workexperience">Work Experience:</label>
     <input type="number"  class="form-control" name="workexperience" ng-model="form.workexperience" required>
   </div>

   <div>
    <input type="submit"  class="btn btn-primary" value="Submit"  >
   </div> 
</form> -->
<!--education end -->

<!--Your Posts -->
  <div class="row posts">
   <div class="col-md-12" > 
    <h3 class="head"> Your previous posts</h3>
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>Post Id</th>
        <th>Post</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="userpost in posts ">
        <td>{{userpost.pid}}</td>
        <td>{{ userpost.post }}</td>
       </tr>
      </tbody>
     </table>
   </div>
  </div>
<!--your posts end -->

<!--recent profilepics-->
 <div class="row recentprofilepic">
  <div class="col-md-12"> 
   <h3 class="head">Recent Profile Pictures</h3>
   <div class="displayimages" ng-repeat="pic in profilepics">
    <img class="showimage" ng-if="id==pic.uid" ng-src="uploads/{{pic.name}}" width="200" height="200" />  
   </div>
   </div>
  </div>


<!--Add friends -->
<!--   <div class="row Addfriends">
   <div class="col-md-12" > 
    <h3 class="head"> Add friends</h3>
    <div class="cointainer" ng-repeat="user in allusers">
      <div  ng-repeat="friend in showfriendsarray">
       <p  ng-if="user.id==friend">{{user.name}}
        <span> <input  id="addbtn" type="button" class="btn btn-primary" ng-click="addfriend(user)" value="Add friend"  /></span>
       </p>
     </div>
   </div>
  </div> -->
<!--Add friends end -->
  
 
<!--Your friends -->
  <div class="row yourfriends">
    <div class="col-md-12" > 
   <h3 class="head">Your Friends</h3>
    <table class="table table-bordered">
     <thead>
       <tr>
        <th>Index</th>
        <th>Friend name</th>
       </tr>
     </thead>
     <tbody ng-repeat="user in allusers">
       <tr ng-repeat="x in farray">
        <td ng-if="user.id==x">{{$index+1}}</td>
        <td ng-if="user.id==x">{{ user.name }}</td>
       </tr>
     </tbody>
    </table>
  </div> 
</div>
<!--your friends end -->

<!-- Your friend photos -->
<!-- <div ng-repeat="user in allusers">
<div ng-repeat="x in farray">
 <div ng-repeat="image in images">  
   <h4 class="username" ng-if="image.uid==x && user.id==x">{{ user.name }}</h4>
  <img class="showimage" ng-if="image.uid==x && user.id==x" ng-src="images/{{image.name}}" width="200" height="200" />  
 
 </div>
</div>
</div> -->
<!-- your friend photos end -->

<!--Your friends posts -->
  <!-- <div class="row yourfriendsposts">
   <div class="col-md-12" > 
    <h3 class="head">Your Friends Posts</h3>
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>Post Id</th>
        <th>Friend name</th>
        <th>Post</th>
       </tr>
      </thead>
   
      <tbody ng-repeat="post in allposts">
       <tr ng-repeat="x in farray">
        <td ng-if="post.uid==x">{{post.pid}}</td>
        <td ng-if="post.uid==x">{{ post.name }}</td>
        <td ng-if="post.uid==x">{{ post.post }}</td>
       </tr>
      </tbody>
     </table>
   </div>
 </div> -->
  <!--your friend posts end -->
  
</div><!--cointainer end -->