

<div class="container">
  <div >
  <h1 class="registerhead">Register</h1>      
  </div>
      
 <form ng-submit="submit(form)"  name="myForm" novalidate>
  <div class="form-group">
   <label for="name">Name:</label>
    <input type="text"  ng-minlength="5" ng-maxlength="15" class="form-control" name="user" 

     ng-model="form.user" ng-pattern="/^[a-zA-Z ]*$/" required>
  
      <span class="textcolor">
      <span ng-if="failn==='0'">{{res1}}</span>
      </span>
  </div>
   
  <div class="form-group">
   <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" ng-model="form.email" required>
  
      <span class="textcolor" >
      <span ng-if="faile==='0'">{{res1}}</span>
      </span>
  </div>
  
  <div class="form-group">
   <label for="education">Education:</label>
    <input type="text" ng-minlength="2" ng-maxlength="10" class="form-control" name="education" ng-model="form.education" required>
   
  </div>
  
  <div class="form-group">
   <label for="password">Password:</label>
    <input type="password" ng-minlength="5" ng-maxlength="20" class="form-control" name="password" ng-model="form.password" required>
  
  </div>

  <div class="form-group">
   <label for="cpassword">Confirm Password:</label>
    <input type="password"  class="form-control" name="cpassword" ng-model="form.cpassword" required>
  
     <span class="textcolor" ng-show="myForm.cpassword.$dirty">
      <span ng-if="form.password!=form.cpassword">  Password and Confirm Password not matched </span></span>
  </div>
  
  <div>
   <input type="submit"  class="btn btn-primary" value="Submit"
   ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
                myForm.email.$dirty && myForm.email.$invalid || 
                myForm.education.$dirty && myForm.education.$invalid ||
                myForm.password.$dirty && myForm.password.$invalid ||
                myForm.cpassword.$dirty && myForm.cpassword.$invalid "  >
      
  </div> 
           
 </form>
<!-- 
<div>{{form.user}}</div> -->
 <!--  <div>{{res1}}</div> -->
<!--  <div ng-if="res=='{{form.user}} record created successfully'">{{res}}</div> -->
</div>


